@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --font-one: "Space Grotesk", sans-serif;
    --font-two: "JetBrains Mono", monospace;
    --font-three: "Handjet", sans-serif;
    --bezier-one: cubic-bezier(.25, .46, .45, .94);

    --text-primary: #B98AF3;
    --text-secondary: #ffffff;
    --text-tertiary: #7d60a0;
    --bg-color: #262626;
    --text-back-one: #202020;
    --accent-opacity: #dba8952a;
    --accent: #ffffff;
    --elevation-two: #211c1c75;
    --elevation-three: #1e1a1a;
    --elevation-four: #7b73733a;
    --elevation-five: rgba(31, 28, 28, .792);
    --elevation-six: #141313bb;
}

#services {
    margin-top: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-family: var(--font-three);
    position: relative;
}

#services h1 {
    color: var(--text-primary);
    font-size: 3rem;
    margin: 2rem 0;
}

.services {
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 0 1rem;
}

.service {
    border-radius: 1.25rem;
    background: #202020;
    color: white;
    padding: 1rem;
    flex: 1;
    margin: 1rem;
    text-align: center;
    position: relative;
    max-width: 350px;
}

.servicetop {
    position: absolute;
    top: 0;
    transform: translate(-50%, -50%);
}

.service hr {
    border: 1px solid rgba(64, 64, 71, 1);
    width: 90%;
}

.service h2 {
    font-size: 1.5rem;
    margin: 1rem 0;
    margin-top: 3rem;
}

.points {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    margin: 0.5rem 1rem;
    flex-direction: column;
}

.point {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 1rem 0;
    width: 100%;
}

.point img {
    width: 1.5rem;
    margin-right: 1rem;
}

.btn button:hover {
    transform: scale(1.1);
}

.highlight {
    font-weight: 400;
    font-size: 1rem;
    background-color: var(--text-back-one);
    border-radius: 7px;
    color: var(--accent);
    padding: .2rem .5rem;
    width: fit-content;
}

@media screen and (max-width: 768px) {

    .services {
        margin: 7rem 0;
        flex-direction: column;
    }

    .service {
        width: 80%;
        margin: 2rem auto;
    }
}