@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Grotesk:wght@300..700&display=swap');

:root {
    --font-one: "Space Grotesk", sans-serif;
    --font-two: "JetBrains Mono", monospace;
    --font-three: "Handjet", sans-serif;
    --bezier-one: cubic-bezier(.25, .46, .45, .94);

    --text-primary: #B98AF3;
    --text-secondary: #ffffff;
    --text-tertiary: #7d60a0;
    --bg-color: #262626;
    --text-back-one: #202020;
    --accent-opacity: #dba8952a;
    --accent: #ffffff;
    --elevation-two: #211c1c75;
    --elevation-three: #1e1a1a;
    --elevation-four: #7b73733a;
    --elevation-five: rgba(31, 28, 28, .792);
    --elevation-six: #141313bb;
}

#resume {
    margin-top: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: var(--font-two);
    position: relative;
}

.hash {
    position: absolute;
    top: -5rem;
    left: 0;
    width: 200px;
    height: 200px;
    z-index: -5;
    animation: float 6s ease-in-out infinite;
    animation-play-state: running;
}

.resume-pfp {
    display: flex;
    align-items: center;
    justify-content: center;
}

.resume-pfp img {
    height: 120px;
    width: 120px;
    border-radius: 20px;
    margin: 1rem;
}

.resume-pfp h1 {
    color: var(--text-primary);
    font-size: 1.4rem;
    font-weight: 300;
    font-family: var(--font-one);
}

.resume-pfp h2 {
    font-size: 1.4rem;
    font-family: var(--font-two);
    font-weight: 300;
}

.resume-pfp h3 {
    font-size: 1.2rem;
    font-family: var(--font-two);
    font-weight: 300;
}

.resume-pfp p {
    color: var(--text-secondary);
    font-size: 0.9rem;
    font-family: var(--font-two);
    font-weight: 300;
}

.socials {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 1rem;
}

.socials button {
    border-radius: 16px;
    display: flex;
    position: relative;
    flex-direction: row;
    width: max-content;
    cursor: pointer;
    background-color: var(--elevation-one);
    transition: filter .2s var(--bezier-one), transform .5s var(--bezier-one);
    -webkit-user-select: none;
    user-select: none;
    margin-top: 1.5rem;
    padding: 1rem 2rem 1rem 3rem;
    color: var(--accent);
    font-weight: 300;
    font-size: 1.6rem;
    font-family: var(--font-two);
    letter-spacing: -.075em;
    border: 1px solid var(--elevation-four);
}

.socials button .side {
    position: absolute;
    border-radius: 16px 0 0 16px;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 1.6rem;
    background-color: var(--accent);
}

@media (max-width: 768px) {
    #resume {
        flex-direction: column;
    }
}