@import url('https://fonts.googleapis.com/css2?family=Handjet:wght@100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Space+Grotesk:wght@300..700&display=swap');

* {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  font-family: var(--font-one);
  scroll-behavior: smooth;
  scroll-margin-top: 6rem;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

:root {
  --font-one: "Space Grotesk", sans-serif;
  --font-two: "JetBrains Mono", monospace;
  --font-three: "Handjet", sans-serif;
  --bezier-one: cubic-bezier(.25, .46, .45, .94);

  --text-primary: #B98AF3;
  --text-secondary: #ffffff;
  --text-tertiary: #7d60a0;
  --bg-color: #262626;
  --text-back-one: #202020;
  --accent-opacity: #dba8952a;
  --accent: #ffffff;
  --elevation-two: #211c1c75;
  --elevation-three: #1e1a1a;
  --elevation-four: #7b73733a;
  --elevation-five: rgba(31, 28, 28, .792);
  --elevation-six: #141313bb;
}

body {
  background-color: var(--bg-color);
  color: var(--text-secondary)
}

a {
  text-decoration: none;
  list-style: none;
  color: inherit;
}

.wrapper {
  min-height: 0vw;
  margin-inline: auto;
  width: min(90%, 62rem) !important;
}